<div class="footer d-flex">
    <div class="exclusiveField"  style="margin-left: 10px;">
        <p class="exclusive">Exclusive</p>
        <p class="subscribe">Subscribe</p>
        <p class="offer">Get 10% off your first order</p>
    </div>
    <div class="supportField">
        <p class="exclusive">Support</p>
        <p class="offer">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
        <p class="offer">exclusive@gmail.com</p>
        <p class="offer">exclusive@gmail.com</p>
        <p class="offer">+88015-88888-9999</p>
    </div>
    <div class="accountField">
        <p class="exclusive">Account</p>
        <p class="offer">My Account</p>
        <p class="offer">Login / Register</p>
        <p class="offer">Cart</p>
        <p class="offer">Wishlist</p>
        <p class="offer">Shop</p>
    </div>
    <div class="quickLinkField">
        <p class="exclusive">Quick Link</p>
        <p class="offer">Privacy Policy</p>
        <p class="offer">Terms Of Use</p>
        <p class="offer">Contact</p>
    </div>
    <div class="DownloadApp">
        <p class="exclusive">Download App</p>
        <p class="offer">Save $3 with App New User Only</p>
        <img src="assets/googlePlaystore.png">
    </div>
</div>