<div class="header">
    <p class="headerOffer">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
</div>

<div class="headerField  d-flex">
    <p class="exclusive">Exclusive</p>
    <p class="home"><a style="color: black;text-decoration: none;" [routerLink]="['/home']">Home</a></p>
    <p class="contact">Contact</p>
    <p class="about">About</p>
    <p class="signUp"><a style="color: black;text-decoration: none;" [routerLink]="['/signup']">Sign Up</a></p>
    <div class="d-flex">
    <form style="display: flex;">
        <input class="inputSearchItem" type="text"placeholder="What are you looking for?" name="search">
                <button class="searchBtn">
                <img src="assets/search.png">
                </button>
    </form>
    <a [routerLink]="['cart']"><button class="cartBtn" ><img src="assets/Cart2.png"  style="margin-left: -4px;"></button></a>
</div>
   
</div>
<hr>