
<div class="cart">
    <table>
        <tr>
            <th>Project</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td class="d-flex" style="gap: 15px;">
                <img src="assets/tv-cart.png">
                <p>LCD Samsung TV</p>
            </td>
            <td>$500</td>
            <td>Germany</td>
            <td>$800</td>
        </tr>
    </table>
   <button class="return">
    Return to Shop
   </button>

   <div class="cartTotal">
       <p class="cartTotalText">Cart Total</p>
       <div class="d-flex cartSubtotal">
          <p class="subtotal">Subtotal</p>
          <p>$1750</p>
       </div>
       <hr>
       <div class="d-flex cartSubtotal">
          <p class="subtotal">Shipping</p>
          <p>Free</p>
       </div>
       <hr>
       <div class="d-flex cartSubtotal" style="gap:325px">
          <p class="subtotal">Total</p>
          <p>$1750</p>
       </div>
       <button class="checkout">
        Procees to checkout
       </button>
   </div>

   
</div>




