<div class="d-flex" style="padding-top: 50px; padding-bottom: 90px; padding-left: 60px; height: 715px; gap: 120px; text-align: center;">
    <img src="assets/signUp.png">

    <div style="margin-top: 200px">
         <p class="createText">Create an account</p>
      

        <button class="googleAccount" style="margin-top: 30px;margin-left: 10px">
            <div><img src="assets/google.png"></div>
            <div style="margin-top: 3px">Sign with Google</div>
        </button>


    </div>
</div>