<div id="slider">
    <figure>
          <img src="assets/iphone-adv.jpg" style="max-height : 790px">
          <img src="assets/nike-adv.jpg">
          <img src="assets/sony-adv.jpg" style="max-height : 790px">
    </figure>
</div>

<div class="d-flex" style="margin-left: 50px;gap: 10px;">
    <img src="assets/rect_category.png">
    <p class="categoriesText">Categories</p>
</div>

<p class="browseCategory">Browse By Category</p>

<div class="categories d-flex ">
    <div class="phoneCategory align-items-center;" >
        <img  src="assets/phone.png">
        <p class="phoneText"> Phone </p>
    </div>
    <div class="phoneCategory">
        <img  src="assets/computer.png">
        <p class="phoneText"> Computer </p>
    </div>
    <div class="phoneCategory">
        <img  src="assets/gamepad.png">
        <p class="phoneText"> Gamepad </p>
    </div>
    <div class="phoneCategory">
        <img  src="assets/headphone.png">
        <p class="phoneText"> HeadPhone </p>
    </div>
    <div class="phoneCategory">
        <img  src="assets/phone.png">
        <p class="phoneText"> Phone </p>
    </div>
</div>

<div class="d-flex" style="margin-left: 50px;gap: 10px;margin-top: 70px;">
    <img src="assets/rect_category.png">
    <p class="categoriesText">This Month</p>
</div>

<p class="browseCategory">Best Selling Products</p>

<div class="products">
    <div >
      <div class="items">
        <img  src="assets/coat.png">
      </div>
    <div class="itemText">The north coat</div>
        <div class="itemPrice">$260</div>
    </div> 
    
    <div >
        <div class="items">
          <img  src="assets/coat.png">
        </div>
      <div class="itemText">The north coat</div>
          <div class="itemPrice">$260</div>
      </div>   

      <div >
        <div class="items">
          <img  src="assets/coat.png">
        </div>
      <div class="itemText">The north coat</div>
          <div class="itemPrice">$260</div>
      </div>   
      
      <div >
        <div class="items">
          <img  src="assets/coat.png">
        </div>
      <div class="itemText">The north coat</div>
          <div class="itemPrice">$260</div>
      </div>   


</div>